html, body {
  width: 100%;
  height: 100%;
  margin: 0; }
  html #wrap, body #wrap {
    margin-bottom: -40px;
    width: 100%;
    height: 100%; }
    html #wrap #content, body #wrap #content {
      width: 100%;
      height: 100%; }
  html #footer, body #footer {
    line-height: 30px;
    height: 40px;
    background: black;
    width: 100%;
    text-align: right;
    font-weight: bold; }
  html .container-footer, body .container-footer {
    padding: 0 30px; }
