#content {
  padding-left: 250px;
  transition: all 0.4s ease 0s; }

#content #left-nav-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  color: white;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  transition: all 0.4s ease 0s; }
  #content #left-nav-wrapper .left-nav {
    position: absolute;
    top: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 40px; }
    #content #left-nav-wrapper .left-nav .sidebar-item {
      padding: 10px 20px;
      font-size: 18px;
      color: #CCC; }
    #content #left-nav-wrapper .left-nav .sidebar-item:hover {
      color: white;
      background-color: #333; }
#content #container {
  height: 100%;
  width: 100%; }
  #content #container #top {
    text-align: center; }
    #content #container #top #search-widget {
      display: inline-block;
      width: 500px; }
      #content #container #top #search-widget #options-list #search-bar {
        border-radius-bottom: 0;
        position: relative; }
        #content #container #top #search-widget #options-list #search-bar .input-search {
          width: 100%;
          display: inline-block; }
        #content #container #top #search-widget #options-list #search-bar .button-search {
          position: absolute;
          top: 0;
          right: 0;
          display: inline-block; }

.ui-autocomplete-loading {
  background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat; }
