#content #container {
  height: 100%;
  width: 100%; }
  #content #container #top {
    text-align: center; }
    #content #container #top #search-widget {
      margin-top: 10px;
      display: inline-block;
      width: 500px; }
      #content #container #top #search-widget #options-list #search-bar {
        position: relative; }
        #content #container #top #search-widget #options-list #search-bar .input-search {
          width: 100%;
          display: inline-block; }
        #content #container #top #search-widget #options-list #search-bar .button-search {
          position: absolute;
          top: 0;
          right: 0;
          display: inline-block; }
      #content #container #top #search-widget #options-list .selected-option {
        color: black; }
      #content #container #top #search-widget #options-list .btn-option {
        display: block;
        width: 100%;
        border-radius: 0; }
        #content #container #top #search-widget #options-list .btn-option span {
          float: right; }
      #content #container #top #search-widget #options-list #new-albumns {
        border-radius-bottom: 5px; }
      #content #container #top #search-widget #results .result {
        width: 100%; }
      #content #container #top #search-widget #ajax-spinner {
        margin: 40px 0; }

.ui-autocomplete-loading {
  background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat; }

#start-button {
  text-align: center;
  width: 200px;
  height: 120px;
  position: absolute;
  bottom: 60px;
  right: 20px;
  margin-left: -100px; }
