#content {
  padding-left: 250px;
  transition: all 0.4s ease 0s; }

#content #left-nav-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  color: white;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s; }
  #content #left-nav-wrapper .left-nav {
    position: absolute;
    top: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 40px; }
    #content #left-nav-wrapper .left-nav .sidebar-item {
      padding: 10px 20px;
      font-size: 18px;
      color: #CCC; }
    #content #left-nav-wrapper .left-nav .sidebar-item:hover {
      color: white;
      background-color: #333; }
#content #container {
  height: 100%;
  width: 100%; }
  #content #container #top #search-widget {
    width: 500px;
    height: 1000px; }
    #content #container #top #search-widget #search-bar {
      position: absolute;
      height: 30px;
      width: 500px;
      padding: 0 100px 0 0;
      outline: 1px dotted red; }
      #content #container #top #search-widget #search-bar .input-search {
        float: left;
        width: 100%;
        height: 100%; }
      #content #container #top #search-widget #search-bar .button-search {
        position: absolute;
        right: 0;
        width: 100px;
        height: 100%;
        border-radius: 0px;
        padding: 5px; }
    #content #container #top #search-widget .btn-dropdown {
      margin-top: 30px;
      height: 40px;
      width: 100%;
      border-radius: 0px;
      display: none; }
    #content #container #top #search-widget #options-list {
      margin-top: 30px; }
      #content #container #top #search-widget #options-list .btn-option {
        font-size: 30px;
        height: 100px;
        width: 100%;
        border-radius: 0px; }
    #content #container #top #search-widget #songs {
      display: none; }

.ui-autocomplete-loading {
  background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat; }
