#content {
  padding: 20px;

  #hp-background {
    background: 'static/images/hp-background.jpg';
    background-size: cover;
  }

  .hp-centered {
    width: 600px;
    height: 250px;
    position: absolute;
    margin: -150px 0 0 -300px;
    top: 50%;
    left: 50%;
  }
  #hp-menu {
    margin: -140px 0 0 -300px;
    margin-bottom: -140px;
    text-align: center;
  }

  .form-group {
    width: 300px;
  }
}

#footer {
  width: 100%;
  background: black;
  text-align: right;
  font-color: white;
  font-weight: bold;
}
