{% extends "base.html" %}

{% block title %}
  Welcome to K-JAM!
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
  <div id="hp-background"></div>
  <div class="hp-centered">
    <form role="form">
      <div class="form-group">
        <label for="room">Room:</label>
        <input type="text" class="form-control" id="room" placeholder="thundersnow">
      </div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="ponyta">
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
