{% extends "base.html" %}

{% block title %}
  {{ room}} - KJAM
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}">
{% endblock %}

{% block content %}
  <input type="hidden" class="js-username" value="{{username}}">
  <input type="hidden" class="js-room" value="{{room}}">

  <div class="alert alert-warning js-room-error-wrap" style="display: none">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Sorry!</strong> <div class="js-room-error">{{error}}</div>
  </div>

  <div id="p1-vid" style="width:300px;"></div>
  <div id="p2-vid" style="width:300px;"></div>

  <div id="top">
    <div id="search-widget">
      <div id="options-list">
        <div id="search-bar">
          <input type="text"
                 class="js-search-text input-search form-control"
                 placeholder="Type to search">
          <button type="button" class="btn btn-primary button-search">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
        <button type="button" id="top-tracks" class="btn btn-option btn-success btn-get-top-chart">
          Get Top Tracks <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <button type="button" id="trending-albums" class="btn btn-option btn-success btn-get-trending-albums">
          Get Trending Albums <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <button type="button" id="new-albums" class="btn btn-option btn-success btn-get-new-albums">
          Get New Albums <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
      </div>
      <div id="ajax-spinner" style="display: none;">
        <img src="{{ url_for('static', filename='images/spinner.gif') }}">
      </div>
      <div id="results" style="display: none;"></div>
      <div id="albums" style="display: none;"></div>
      <div id="search-results-hider" style="display: none;">
        <button type="button" class="btn btn-warning">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
      </div>
      <div id="selected" style="display: none;"></div>
    </div>

    <div id="users"></div>

    <button id="start-button" class="btn btn-primary">
      <h1>Start</h1>
    </button>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/socket.io.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/peer.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/room.js')}}"></script>
{% endblock %}
