{% extends "base.html" %}

{% block title %}
  {{ room}} - KJAM
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}">
{% endblock %}

{% block content %}
  <input type="hidden" class="js-username" value="{{username}}">
  <input type="hidden" class="js-room" value="{{room}}">
  <div id="left-nav-wrapper">
    <ul class="left-nav">
      <li class="sidebar-item">
        You are in room: {{room}}
      </li>
    </ul>
  </div>

  <div class="alert alert-warning js-room-error-wrap" style="display: none">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Sorry!</strong> <div class="js-room-error">{{error}}</div>
  </div>

  <div id="container">
    <div id="top">
      <div id="search-widget">
        <div id="search-bar">
          <input type="text"
                 class="js-search-text input-search"
                 placeholder="Type to search">
          </input>
          <button type="button" class="btn btn-primary button-search">Search</button>
        </div>
        <button type="button" class="btn btn-dropdown btn-warning btn-get-top-chart">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <div id="options-list">
          <button type="button" class="btn btn-option btn-success btn-get-top-chart">Get Top Tracks</button>
          <button type="button" class="btn btn-option btn-success btn-get-trending-albums">Get Trending Albums</button>
          <button type="button" class="btn btn-option btn-success btn-get-new-albums">Get New Albums</button>
          <div id="songs">
          </div>
          <div id="albums">
          </div>
        </div>
      </div>
    </div>

    <div id="users">
      users: {{ users }}
      {% for user in users %}
      <div class="label label-primary">
        <span class="glyphicon glyphicon-user"></span>{{user}}
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='js/peer.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/room.js')}}"></script>
{% endblock %}
