{% extends "base.html" %}

{% block title %}
  {{ room}} - KJAM
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}">
{% endblock %}

{% block content %}
  <input type="hidden" class="js-username" value="{{username}}">
  <input type="hidden" class="js-roomname" value="{{room}}">
  <div id="left-nav-wrapper">
    <ul class="left-nav">
      <li class="sidebar-item">
        You are in room: {{room}}
      </li>
    </ul>
  </div>

  <div class="alert alert-warning js-room-error-wrap" style="display: none">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Sorry!</strong> <div class="js-room-error">{{error}}</div>
  </div>

  <div id="container">
    <div id="player1" class="players"></div>
    <div id="player2" class="players"></div>

    <div id="browse-songs">
      <input type="text"
             class="js-search-text"
             placeholder="Type to search">
      </input>
      <button type="button" class="btn btn-primary button-search">Search</button>
      <div id="songs">
         <embed src="/static/images/spinner.gif">
      </div>
      <button type="button" class="btn btn-primary button-start">Start</button>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/room.js')}}"></script>
{% endblock %}
